/build
*.tmp
/.gradle
/.nb-gradle
/.idea
/out

Laskin/build
Laskin/.gradle
Laskin/.idea
Laskin/.nb-gradle
Laskin/Laskin.iml
Laskin/bin
Laskin/.settings

QueryLanguage/build
QueryLanguage/.gradle
QueryLanguage/.idea
QueryLanguage/.nb-gradle
QueryLanguage/QueryLanguage.iml
QueryLanguage/bin
QueryLanguage/.settings