/build
*.tmp
/.gradle
/.nb-gradle
/.idea
/out

WebLogin/build
WebLogin/.gradle
WebLogin/.idea
WebLogin/.nb-gradle
WebLogin/WebLogin.iml
WebLogin/bin
WebLogin/.settings

LoginCucumber/build
LoginCucumber/.gradle
LoginCucumber/.idea
LoginCucumber/.nb-gradle
LoginCucumber/LoginCucumber.iml
LoginCucumber/bin
LoginCucumber/.settings

Kurssistatistiikka/build
Kurssistatistiikka/.gradle
Kurssistatistiikka/.idea
Kurssistatistiikka/.nb-gradle
Kurssistatistiikka/WebLogin.iml
Kurssistatistiikka/bin
Kurssistatistiikka/.settings