/build
*.tmp
/.gradle
/.nb-gradle
/.idea
/out

MatkakorttiMockito/build
MatkakorttiMockito/.gradle
MatkakorttiMockito/.idea
MatkakorttiMockito/.nb-gradle
MatkakorttiMockito/MatkakorttiMockito.iml
MatkakorttiMockito/bin
MatkakorttiMockito/.settings

MockitoDemo/build
MockitoDemo/.gradle
MockitoDemo/.idea
MockitoDemo/.nb-gradle
MockitoDemo/MockitoDemo.iml
MockitoDemo/bin
MockitoDemo/.settings

VerkkokauppaSpring/build
VerkkokauppaSpring/.gradle
VerkkokauppaSpring/.idea
VerkkokauppaSpring/.nb-gradle
VerkkokauppaSpring/VerkkokauppaSpring.iml
VerkkokauppaSpring/bin
VerkkokauppaSpring/.settings